* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 40px;
}
.layout {
  padding: 30px;
  display: flex;
  gap: 60px;
}
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* --------------------- Aside Section ----------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */

.my-category {
  flex: 1;
  background-color: lightgray;
}
.main-nav-list {
  padding: 20px 0;

  list-style: none;
  color: darkgrey;
  font-size: 36px;
}
.main-nav-list-item {
  border-top: 0.5px solid darkgray;
  padding: 20px;
}
.main-nav-list-item:last-child {
  border-bottom: 0.5px solid darkgray;
}
.main-nav-list-item-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: darkgrey;
}
.main-nav-list-item-link-icon {
  margin-right: 10px;
}

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* --------------------- Main Section ----------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
main {
  display: flex;
  justify-content: space-between;
  height: 40vh;
  flex: 4;
  gap: 30px;
}
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------Personal Info Section---------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */

#personal-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  flex: 1;
}

#personal-image {
  height: 200px;
}
.contact-method {
  display: flex;
  justify-content: space-between;
}

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------Introduce Section-------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
#introduce {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex: 2;
}
#introduce header {
  margin-bottom: 10px;
}
.education-history-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------My Skill Section--------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
#my-skill {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.skill-progression h4 {
  margin-bottom: 10px;
}
.skill-progression-chart {
  display: flex;
  gap: 15px;
}
.skill-progression-chart-box {
  width: 30px;
  height: 30px;
}
.filled {
  background-color: grey;
}
.empty {
  background-color: lightgrey;
}
